<div class="homePage">
    <form action="/artist-search" method="POST">
        <input type="text" name="artist" id="" placeholder="Artist name"><br>
        <button>Search for an Artist</button>
    </form>
</div>
