body{
    width: 100%;
    margin: 0 auto;
}

.homePage{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url('../images/spotify-background.jpeg');
    background-position: center;
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;
}

form{
    align-content: center;
    height: 20%;
    width: 40%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.5);
    padding: 1%
}

input{
    margin: 7% 20% 1% 20%;
    width: 60%;
    padding: 10px;
}

button{
    margin: 0 35%;
    background: red;
    width: 30%;
    color: white;
    border: none;
    padding: 10px   
}

.allArtists{
    display: flex;
    flex-wrap: wrap;
}

.artist-div{
    width: 20%;
    margin: 2%;
    text-align: center;
}

h1{
    margin: -3px auto 10px auto;
    font-weight: bold;
    font-size: 1rem;
}

.text-div a{
    background-color: rgba(226, 29, 29, 0.766);
    padding: 10px;
    margin-bottom: 0;
    border-radius: 10%;
    color: white;
    text-decoration: none;
}

.artist-div img{
    width: 100%
}


.text-div{
    color: white;
    height: 20%;
    background-color: black;
}

.album-tracks{
    display: flex;
    justify-content: space-between;
    border: 3px solid red;
    border-radius: 10px;
    margin: 10px 0;
    background-color: rgba(117, 115, 115, 0.379);
}

.album-tracks h3{
    margin-left:10px;
}

.tracks-container{
    margin: 3%
}